<div class="container text-center" style="margin-top: 180px;">
        <h1>404: Page not found</h1>
        <p>The requested page was not found on this server.</p>
        <p class="my-2">
            <a href="/" class="text-decoration-none">&larr; Go back to hone</a>
        </p>
    </div>